<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- Head -->
<head>
    <meta charset="UTF-8"/>
    <title>PaaS-TA Container Platform Admin Portal</title>
    <link href="/css/c3.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/layout.css" rel="stylesheet" type="text/css"/>
    <link rel='shortcut icon' type='image/x-icon' href='/img/favicon.ico?v=2'/>
</head>
<!-- // Head -->
<!-- Body -->
<body>
<span th:replace="fragments/config :: configFragment"></span>
<div id="wrap">
    <!-- Header -->
    <header th:replace="fragments/header :: headerFragment"></header>
    <!-- // Header -->

    <!-- container -->
    <div id="container">
        <!-- aside -->
        <aside th:replace="fragments/aside :: asideFragment"></aside>
        <!-- // aside -->

        <!-- content -->
        <div layout:fragment="content"></div>
        <!-- // Content -->
    </div>
    <!-- // container -->
    <!-- modal -->
    <div layout:fragment="modal"></div>
    <!-- // modal -->
</div>

<script type="text/javascript" src="/js/d3-5.4.0.min.js"></script>
<script type="text/javascript" src="/js/c3.min.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<th:block layout:fragment="script"></th:block>
</body>
<!-- // Body -->
</html>