<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<div layout:fragment="content">
    <div id="content" class="sub-page">
        <article class="location">
            <ul>
                <li><a onclick="movePage(URI_CP_SERVICES_SERVICES)">Services</a></li>
                <li><a onclick="movePage(URI_CP_SERVICES_INGRESSES)">Ingresses</a></li>
            </ul>
            <!-- Click event class="on" -->
            <fieldset>
                <input type="text" name="keyword" id="searchText" autocomplete="off" th:placeholder="#{M0017}" />
                <button type="submit" id="search" th:text="#{M0031}"></button>
            </fieldset>
        </article>
        <article class="base">
            <div class="notice">
                <h3>List</h3>
                <div class="table_style01">
                    <!-- board -->
                    <table>
                        <caption>Ingresses List</caption>
                        <colgroup >
                            <col width="20%" />
                            <col width="16%" />
                            <col width="19%" />
                            <col width="25%" />
                            <col width="20%" />
                        </colgroup>
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Namespace</th>
                            <th scope="col">Host</th>
                            <th scope="col">Path</th>
                            <th scope="col">Created Time</th>
                        </tr>
                        </thead>
                        <tbody class="listTable">
                        </tbody>
                    </table>
                    <!-- more btn -->
                    <a class="more" href="javascript:;">more</a>
                </div>
                <!-- btn -->
                <a href="javascript:;" class="create" th:text="#{M0024}"></a>
            </div>
        </article>
    </div>
</div>
<th:block layout:fragment="script">
    <script type="text/javascript">
        window.onload = () => {

            func.init(ASIDE_DP1.SERVICES, ASIDE_DP2.INGRESSES);
            callbackFuncNameLoad();

            const ingresses = {
                offset : 0, // 로드 페이지 넘버
                limit : 10, // 로드 게시물 개수
                allItemCount : 0, //게시물 총 개수
                searchName : '',

                init(){
                    func.nameLoad = ingresses.reset;

                    ingresses.load();

                    ingresses.event();
                },

                reset(){
                    func.removeHtml(document.querySelector('.listTable'));

                    ingresses.offset = 0;

                    ingresses.load();
                },

                load(){
                    func.loading();

                    // nameSpace 정보 조회
                    func.loadData('GET', `${func.url}clusters/${sessionStorage.getItem('cluster')}/namespaces/${sessionStorage.getItem('nameSpace')}/ingresses?searchName=${document.getElementById('searchText').value}&limit=${ingresses.limit}&offset=${ingresses.offset}`, 'application/json', ingresses.draw);
                },

                draw(data){

                    if(ingresses.offset == 0) ingresses.allItemCount = data.itemMetaData.allItemCount;

                    if(data.httpStatusCode == 200){
                        if(data.items.length > 0){
                                for(var i=0; i<= data.items.length -1; i++){
                                    var item = data.items[i];
                                    var rowspanCount = item.spec.rules.length;
                                    var item_rules_path = item.spec.rules[0].http.paths;

                                    var item_rules_path_str ="";
                                    for (a=0; a<=item_rules_path.length -1 ; a++) {
                                        var path = item_rules_path[a].path;
                                        var service = item_rules_path[a].backend.service.name;
                                        item_rules_path_str += `<span class="paths">${path}</span>`
                                            + `<span class="fs-13"> > </span>`
                                            + `<span class="fs-14">${service}</span><br>`;
                                    }

                                    var host_td = "";
                                    if(item.spec.rules[0].host == "-") {
                                        host_td = `<p class="fs-14">${item.spec.rules[0].host}</p>`
                                    }
                                    else {
                                        host_td= `<p class="fs-14 ingress-host" onclick='window.open("http://${item.spec.rules[0].host}")'>${item.spec.rules[0].host}</p>`
                                    }


                                    var html =
                                        `<tr><td class="left" rowspan="${rowspanCount}">`
                                        + `<a href="javascript:;" data-name="${item.name}" data-id="${item.namespace}">${item.name}</td>`
                                        + `<td rowspan="${rowspanCount}" class="left">${item.namespace}</td>`
                                        + `<td class="left">` + host_td + `</td>`
                                        + `<td class="left paths">${item_rules_path_str}</td>`
                                        + `<td class="center list-table-last-td" rowspan="${rowspanCount}">${item.creationTimestamp}</td>`
                                        + `</tr>`;


                                    if(rowspanCount > 1) {
                                        for (var j = 1; j <= rowspanCount - 1; j++) {
                                             var rules = item.spec.rules[j];
                                             var rules_path = rules.http.paths;

                                            var rules_path_str ="";
                                            for (a=0; a<=rules_path.length-1; a++) {
                                                var path = rules_path[a].path;
                                                var service = rules_path[a].backend.service.name;
                                                rules_path_str += `<span class="paths">${path}</span>`
                                                    + `<span class="fs-13"> > </span>`
                                                    + `<span class="fs-14">${service}</span><br>`;
                                            }

                                            var host_str = "";
                                            if(item.spec.rules[j].host == "-") {
                                                host_str = `<p class="fs-14">${item.spec.rules[j].host}</p>`;
                                            }
                                            else {
                                                host_str= `<p class="fs-14 ingress-host" onclick='window.open("http://${item.spec.rules[j].host}")'>${item.spec.rules[j].host}</p>`;
                                            }

                                            html += `<td class="left">` + host_str + `</td>`
                                               + `<td class="left">${rules_path_str}</td></tr>`;
                                        }

                                    }

                                    func.appendHtml(document.querySelector('.listTable'), html, 'tbody');
                                };

                        } else {
                            var html = `<tr><td colspan="5">No Data.</td></tr>`;
                            func.appendHtml(document.querySelector('.listTable'), html, 'tbody');
                        };
                    } else {
                        var html = `<tr><td colspan="5">No Data.</td></tr>`;

                        func.appendHtml(document.querySelector('.listTable'), html, 'tbody');
                    };

                    // more 버튼 활성, 비활성
                    if(ingresses.limit * (ingresses.offset + 1) < ingresses.allItemCount){
                        document.querySelector('.more').classList.toggle('on', true);
                    } else {
                        document.querySelector('.more').classList.toggle('on', false);
                    };

                    if(document.getElementById('loading')){
                        document.getElementById('wrap').removeChild(document.getElementById('loading'));
                    };

                    ingresses.listEvent();
                },

                event(){
                    // more 버튼 event
                    document.querySelector('.more').addEventListener('click', (e) => {
                        if(ingresses.limit * (ingresses.offset + 1) < ingresses.allItemCount){
                            ingresses.offset++;
                            ingresses.load();
                    };
                }, false);

                    document.querySelector('.create').addEventListener('click', (e) => {
                        document.location.href = URI_CP_SERVICES_INGRESSES + URI_CP_CREATE;
                }, false);
                },

                listEvent(){
                    var listAll = document.querySelector('.listTable').querySelectorAll('a');

                    for(var i=ingresses.offset* ingresses.limit ; i<=listAll.length-1; i++){
                        listAll[i].addEventListener('click', (e) => {
                            sessionStorage.setItem('nameSpace', e.target.getAttribute('data-id'));
                        sessionStorage.setItem('commonName', e.target.getAttribute('data-name'));

                        document.location.href = URI_CP_SERVICES_INGRESSES + URI_CP_DETAILS;
                    }, true);
                    };
                },
            }

            ingresses.init();
        }
    </script>
</th:block>
</html>