<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content">
    <div id="content" class="sub-page">
        <article class="location">
            <ul>
                    <li><a onclick="movePage(URI_CP_STORAGES_PERSISTENTVOLUMES)">Storages</a></li>
                    <li><a onclick="movePage(URI_CP_STORAGES_PERSISTENTVOLUMES)">Persistent Volumes</a></li>
                </ul>
            <!-- Click event class="on" -->
            <fieldset>
                    <input type="text" name="keyword" id="searchText" autocomplete="off" th:placeholder="#{M0017}" />
                    <button type="submit" id="search" th:text="#{M0031}"></button>
                </fieldset>
        </article>
        <article class="base">
            <div class="notice">
                    <h3>List</h3>
                    <!-- User -->
                    <div class="table_style01">
                        <!-- board -->
                        <table>
                            <caption>PersistentVolumes List</caption>
                            <colgroup >
                                <col width="18%" />
                                <col width="14%" />
                                <col width="18%" />
                                <col width="10%" />
                                <col width="18%" />
                                <col width="18%" />
                            </colgroup>
                            <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Capacity</th>
                                <th scope="col">Access Mode</th>
                                <th scope="col">Status</th>
                                <th scope="col">Claim</th>
                                <th scope="col">Created Time</th>
                            </tr>
                            </thead>
                            <tbody class="listTable">
                            </tbody>
                        </table>
                        <!-- more btn -->
                        <a class="more" href="javascript:;">more</a>
                    </div>
                    <!-- btn -->
                    <a href="javascript:;" class="create" th:text="#{M0024}"></a>
                </div>
        </article>
    </div>
    <div id="nameTopDiv" class="nameTop" style="display: none !important;"></div>
</div>
<th:block layout:fragment="script">
    <script type="text/javascript">
    window.onload = () => {

        func.init(ASIDE_DP1.STORAGES, ASIDE_DP2.PERSISTENT_VOLUMES);
        callbackFuncNameLoad();

        const persistentVolumes = {
            offset : 0, // 로드 페이지 넘버
            limit : 10, // 로드 게시물 개수
            allItemCount : 0, //게시물 총 개수

            init(){
                func.nameLoad = persistentVolumes.reset;

                persistentVolumes.load();

                persistentVolumes.event();
            },

            reset(){
                func.removeHtml(document.querySelector('.listTable'));

                persistentVolumes.offset = 0;

                persistentVolumes.load();
            },

            load(){
                func.loading();

                // persistentVolumes 정보 조회
                func.loadData('GET', `${func.url}clusters/${sessionStorage.getItem('cluster')}/namespaces/${sessionStorage.getItem('nameSpace')}/persistentVolumes?searchName=${document.getElementById('searchText').value}&limit=${persistentVolumes.limit}&offset=${persistentVolumes.offset}`, 'application/json', persistentVolumes.draw);
            },

            draw(data){

                if(persistentVolumes.offset == 0) persistentVolumes.allItemCount = data.itemMetaData.allItemCount;

                if(data.httpStatusCode == 200){
                    if(data.items.length > 0){
                        for(var i=0; i<=data.items.length-1; i++){
                            var html = `<tr>
									<td class="left"><a href="javascript:;" data-name="${data.items[i].name}">${data.items[i].name}</a></td>`;

                            var label = '';

                            if(data.items[i].capacity != '-'){
                                for(var j=0; j<=Object.getOwnPropertyNames(data.items[i].capacity).length-1; j++){
                                    label += `<dl><dt>${Object.getOwnPropertyNames(data.items[i].capacity)[j]}</dt><dd>${data.items[i].capacity[Object.keys(data.items[i].capacity)[j]]}</dd></dl>`;
                                };
                            } else {
                                label = `<dl><dt>-</dt></dl>`;
                            }

                            html += `<td class="left box">${label}</td>`;

                            html += `<td>${data.items[i].accessMode.join("<br>")}</td>
									<td class="${data.items[i].persistentVolumeStatus}">${data.items[i].persistentVolumeStatus}</td>
									<td class="left"><span>${data.items[i].claim.namespace} / ${data.items[i].claim.name}</span></td>
									<td>${data.items[i].creationTimestamp}</td>
								</tr>`;

                            func.appendHtml(document.querySelector('.listTable'), html, 'tbody');
                        };
                    } else {
                        var html = `<tr><td colspan="6">No Data.</td></tr>`;

                        func.appendHtml(document.querySelector('.listTable'), html, 'tbody');
                    };
                } else {
                    var html = `<tr><td colspan="6">No Data.</td></tr>`;

                    func.appendHtml(document.querySelector('.listTable'), html, 'tbody');
                };

                // more 버튼 활성, 비활성
                if(document.querySelector('.listTable').querySelectorAll('tr').length < persistentVolumes.allItemCount){
                    document.querySelector('.more').classList.toggle('on', true);
                } else {
                    document.querySelector('.more').classList.toggle('on', false);
                };

                if(document.getElementById('loading')){
                    document.getElementById('wrap').removeChild(document.getElementById('loading'));
                };

                persistentVolumes.listEvent();
            },

            event(){
                // more 버튼 event
                document.querySelector('.more').addEventListener('click', (e) => {
                    if(document.querySelector('.listTable').querySelectorAll('tr').length < persistentVolumes.allItemCount){
                    persistentVolumes.offset++;

                    persistentVolumes.load();
                };
            }, false);

                document.querySelector('.create').addEventListener('click', (e) => {
                    sessionStorage.setItem('commonName', '');

                func.create('Create', 'persistentVolumes', MSG_SAVE);
            }, false);
            },

            listEvent(){
                var listAll = document.querySelector('.listTable').querySelectorAll('a');

                for(var i=persistentVolumes.offset*10; i<=listAll.length-1; i++){
                    listAll[i].addEventListener('click', (e) => {
                        sessionStorage.setItem('commonName', e.target.getAttribute('data-name'));

                    document.location.href = URI_CP_STORAGES_PERSISTENTVOLUMES + URI_CP_DETAILS;
                }, true);
                };
            },
        }

        persistentVolumes.init();
    }
</script>
</th:block>
</html>