<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<div layout:fragment="content">
    <div id="content" class="sub-page">
        <article class="location">
            <ul>
                <li><a onclick="movePage(URI_CP_INFO_ACCESS)">Info</a></li>
                <li><a onclick="movePage(URI_CP_INFO_PRIVATE_REPOSITORY)">Private Repository</a></li>
            </ul>
            <!-- Click event class="on" -->
        </article>
        <article class="base-top">
            <div class="info">
                <h3>Private Repository Info</h3>
                <div class="table_style01">
                    <br>
                    <p th:text="#{M0079}"></p>
                    <br>
                    <h4>What is Harbor?</h4>
                    <p>Harbor is an open source registry that secures artifacts with policies and role-based access control, ensures images are scanned and free from vulnerabilities, and signs images as trusted.
                        Harbor, a CNCF Graduated project, delivers compliance, performance, and interoperability to help you consistently and securely manage artifacts across cloud native compute platforms like Kubernetes and Docker.</p>
                    <div class="btn04">
                        <button onclick="window.open('https://goharbor.io/')">Harbor docs</button>
                    </div>
                </div>
            </div>
        </article>
        <article class="base">
            <div class="info">
                <h3 style="margin-bottom: 0px;">How to Access</h3>
                <div class="table_style01">
                    <br>
                    <i class="fa fa-info-circle"></i>&nbsp;<span th:text="#{M0080}"></span>
                    <div class="btn04">
                        <button id="harborBtn" th:text="#{M0081}"></button>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        window.onload = () => {
            func.init(ASIDE_DP1.INFO, ASIDE_DP2.PRIVATE_REPOSITORY);

            const privateRepositoryInfo = {
                event(){
                    document.getElementById('harborBtn').addEventListener('click', (e) => {
                        /*<![CDATA[*/
                        window.open('about:blank').location.href = [[${privateRepositoryUrl}]];
                    /*]]>*/
                }, false);
                },
            };

            privateRepositoryInfo.event();
        }
    </script>
</th:block>
</html>