<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/global}">

<div layout:fragment="content">
    <!-- Content -->
    <div id="content">
        <article class="view">
            <h3>Container Platform Info</h3>
            <div class="flex-s">
                <div>
                    <dl>
                        <dt>Cluster</dt>
                        <dd id="clusterStatus">0</dd>
                    </dl>
                    <dl>
                        <dt>Namespace</dt>
                        <dd id="namespaceStatus">0</dd>
                    </dl>
                    <dl>
                        <dt>PV</dt>
                        <dd id="pvStatus">0</dd>
                    </dl>
                    <dl>
                        <dt>PVC</dt>
                        <dd id="pvcStatus">0</dd>
                    </dl>
                    <dl>
                        <dt>Pod</dt>
                        <dd id="podStatus">0</dd>
                    </dl>
                </div>
            </div>
        </article>
        <article class="base base-type2">
            <div class="notice">
                <h4>Cluster Info</h4>
                <div class="table_style01">
                    <table>
                        <caption>Cluster Info</caption>
                        <thead>
                        <tr>
                            <th scope="col">클러스터</th>
                            <th scope="col">프로바이더</th>
                            <th scope="col">K8s버전</th>
                            <th scope="col">노드</th>
                            <th scope="col">네임스페이스</th>
                            <th scope="col">파드</th>
                            <th scope="col">PV</th>
                            <th scope="col">PVC</th>
                            <th scope="col">CPU</th>
                            <th scope="col">MEM</th>
                        </tr>
                        </thead>
                        <tbody class="listTable">
                        </tbody>
                    </table>
                    <!-- more btn -->
                </div>
            </div>
        </article>
        <article class="base-type3">
            <div class="chart">
                <h4><span>Node TOP 10</span></h4>
                <ul>
                    <li id="topNodesCpu">
                        <h5>CPU</h5>
                        <div class="table_style01">
                            <table>
                                <colgroup >
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                </colgroup>
                                <thead>
                                <tr>
                                    <th scope="col">클러스터</th>
                                    <th scope="col">노드</th>
                                    <th scope="col">CPU(cores)</th>
                                    <th scope="col">CPU%</th>
                                    <th scope="col">MEMORY(bytes)</th>
                                    <th scope="col">MEMORY%</th>
                                </tr>
                                </thead>
                            <tbody class="topNodesCpuListTable">
                            </tbody>
                        </table>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li id="topNodesMem">
                        <h5>Memory</h5>
                        <div class="table_style01">
                            <table>
                                <colgroup >
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                    <col />
                                </colgroup>
                                <thead>
                                <tr>
                                    <th scope="col">클러스터</th>
                                    <th scope="col">노드</th>
                                    <th scope="col">CPU(cores)</th>
                                    <th scope="col">CPU%</th>
                                    <th scope="col">MEMORY(bytes)</th>
                                    <th scope="col">MEMORY%</th>
                                </tr>
                                </thead>
                                <tbody class="topNodesMemListTable">
                                </tbody>
                            </table>
                        </div>
                    </li>
                </ul>
            </div>
        </article>
    </div>
    <!-- // Content -->
</div>

<th:block layout:fragment="script">
<!-- <script type="text/javascript">
        window.onload = () => {
            IS_GLOBAL = true;
            IS_OVERVIEW = true;
            func.init();
            callbackFuncNameLoad();

            const overview = {
                init() {
                    func.nameLoad = overview.load;
                },

                load() {
                    func.loading();

                    // nameSpace 정보 조회
                   func.loadData('GET', `${func.url}global/overview`, 'application/json', overview.draw);
                    IS_OVERVIEW = false;
                },

                draw(data) {

                    var legends = document.querySelectorAll('.legend');

                    for (var i = 0; i < legends.length; i++) {
                        func.removeHtml(legends[i]);
                    }
                    ;

                    if (data.httpStatusCode == 500) {

                    }



                    if(data.httpStatusCode == 200){

                        // all count status
                        func.countUp(document.getElementById('clusterStatus'), data.clusterStatus);
                        func.countUp(document.getElementById('namespaceStatus'), data.namespaceStatus);
                        func.countUp(document.getElementById('pvStatus'), data.pvStatus);
                        func.countUp(document.getElementById('pvcStatus'), data.pvcStatus);
                        func.countUp(document.getElementById('podStatus'), data.podStatus);

                        // cluster info list
                        if(data.items.length > 0){
                            for(var i=0; i<=data.items.length-1; i++){
                                   var item = data.items[i];
                                var html = `<tr><td class="left"><a href="javascript:;">${item.clusterName}</a></td>` +
                                    `<td class="center">${item.clusterProviderType}</td>`+
                                    `<td class="center">${item.version}</td>`+
                                    `<td class="center">${item.nodeCount.count}/${item.nodeCount.all}</td>`+
                                    `<td class="center">${item.namespaceCount.count}/${item.namespaceCount.all}</td>`+
                                    `<td class="center">${item.podCount.count}/${item.podCount.all}</td>`+
                                    `<td class="center">${item.pvCount.count}/${item.pvCount.all}</td>`+
                                    `<td class="center">${item.pvcCount.count}/${item.pvcCount.all}</td>`+
                                    `<td class="center">${item.usage.cpu}</td>`+
                                    `<td class="center">${item.usage.memory}</td></tr>`;

                                func.appendHtml(document.querySelector('.listTable'), html, 'tbody');
                            };
                        } else {
                            var html = '<tr><td colspan="10">No Data.</td></tr>';
                            func.appendHtml(document.querySelector('.listTable'), html, 'tbody');
                        };



                        // top node cpu
                        if(data.topNodesCPU.length > 0){
                            for(var i=0; i<=data.topNodesCPU.length-1; i++){
                                var item = data.topNodesCPU[i];
                                var html = `<tr><td class="center">${item.clusterName}</td>` +
                                    `<td class="center">${item.name}</td>`+
                                    `<td class="center">${item.cpu.usage}</td>`+
                                    `<td class="center">${item.cpu.percent}</td>` +
                                    `<td class="center">${item.memory.usage}</td>` +
                                    `<td class="center">${item.memory.percent}</td></tr>`;

                                func.appendHtml(document.querySelector('.topNodesCpuListTable'), html, 'tbody');
                            };
                        } else {
                            var html = '<tr><td colspan="6">No Data.</td></tr>';
                            func.appendHtml(document.querySelector('.topNodesCpuListTable'), html, 'tbody');
                        };


                        // top node memory
                        if(data.topNodesMEM.length > 0){
                            for(var i=0; i<=data.topNodesMEM.length-1; i++){
                                var item = data.topNodesMEM[i];
                                var html = `<tr><td class="center">${item.clusterName}</td>` +
                                    `<td class="center">${item.name}</td>`+
                                    `<td class="center">${item.cpu.usage}</td>`+
                                    `<td class="center">${item.cpu.percent}</td>` +
                                    `<td class="center">${item.memory.usage}</td>` +
                                    `<td class="center">${item.memory.percent}</td></tr>`;

                                func.appendHtml(document.querySelector('.topNodesMemListTable'), html, 'tbody');
                            };
                        } else {
                            var html = '<tr><td colspan="6">No Data.</td></tr>';
                            func.appendHtml(document.querySelector('.topNodesMemListTable'), html, 'tbody');
                        };


                    }
                    else {
                        var html = '<tr><td colspan="10">No Data.</td></tr>';
                        func.appendHtml(document.querySelector('.listTable'), html, 'tbody');
                    }



                    document.getElementById('wrap').removeChild(document.getElementById('loading'));
                },
            }

            overview.init();
        }

    </script>-->
</th:block>

</html>