<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<aside th:fragment="asideFragment">
    <nav>
        <ul>
            <li class="plus" aside_d1="global" sec:authorize="hasAnyAuthority('SUPER_ADMIN', 'CLUSTER_ADMIN')">
                <a href="javascript:" class="dep01">Global</a>
                <ul class="sub">
                    <li><a onclick="movePage(URI_CP_BASE_URL)" aside_d2="g_overview">Overview</a></li>
                    <li><a onclick="movePage(URI_CP_GLOBAL_CLUSTER)" aside_d2="clusters">Clusters</a></li>
                    <li><a onclick="movePage(URI_CP_GLOBAL_CLOUD_ACCOUNTS)" aside_d2="cloud_account">Cloud Account</a></li>
                    <li><a onclick="movePage(URI_CP_GLOBAL_INSTANCE_CODE_TEMPLATES)" aside_d2="instance_code_template">Instance Code Template</a></li>
                </ul>
            </li>
            <li class="plus" aside_d1="clusters">
                <a href="javascript:" class="dep01">Clusters</a>
                <ul class="sub">
                    <li><a onclick="movePage(URI_CP_CLUSTERS_NODES)" aside_d2="nodes">Nodes</a></li>
                    <li><a onclick="movePage(URI_CP_CLUSTERS_NAMESPACES)" aside_d2="namespaces">Namespaces</a></li>
                </ul>
            </li>
            <li class="plus">
                <a href="javascript:" class="dep01">Workloads</a>
                <ul class="sub">
                    <li><a onclick="movePage(URI_CP_WORKLOADS_DEPLOYMENTS)">Deployments</a></li>
                    <li><a onclick="movePage(URI_CP_WORKLOADS_PODS)">Pods</a></li>
                    <li><a onclick="movePage(URI_CP_WORKLOADS_REPLICASETS)">Replica Sets</a></li>
                </ul>
            </li>
            <li class="plus">
                <a href="javascript:" class="dep01">Services</a>
                <ul class="sub">
                    <li><a onclick="movePage(URI_CP_SERVICES_SERVICES)">Services</a></li>
                    <li><a onclick="movePage(URI_CP_SERVICES_INGRESSES)">Ingresses</a></li>
                </ul>
            </li>
            <li class="plus">
                <a href="javascript:" class="dep01">Storages</a>
                <ul class="sub">
                    <li><a onclick="movePage(URI_CP_STORAGES_PERSISTENTVOLUMES)">Persistent Volumes</a></li>
                    <li><a onclick="movePage(URI_CP_STORAGES_PERSISTENTVOLUMECLAIMS)">Persistent Volume Claims</a></li>
                    <li><a onclick="movePage(URI_CP_STORAGES_STORAGECLASSES)">Storage Classes</a></li>
                </ul>
            </li>
            <li class="plus">
                <a href="javascript:" class="dep01">Managements</a>
                <ul class="sub">
                    <li><a onclick="movePage(URI_CP_MANAGEMENTS_USERS_ADMIN)">Users</a></li>
                    <li><a onclick="movePage(URI_CP_MANAGEMENTS_ROLES)">Roles</a></li>
                    <li><a onclick="movePage(URI_CP_MANAGEMENTS_RESOURCEQUOTAS)">Resource Quotas</a></li>
                    <li><a onclick="movePage(URI_CP_MANAGEMENTS_LIMITRANGES)">Limit Ranges</a></li>
                    <li><a onclick="movePage(URI_CP_MANAGEMENTS_CONFIGMAPS)">ConfigMaps</a></li>
                </ul>
            </li>
            <li class="plus">
                <a href="javascript:" class="dep01">Info</a>
                <ul class="sub">
                    <li><a onclick="movePage(URI_CP_INFO_ACCESS)">Access</a></li>
                    <li><a onclick="movePage(URI_CP_INFO_PRIVATE_REPOSITORY)">Private Repository</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</aside>

<aside th:fragment="globalAsideFragment">
    <nav>
        <ul>
            <li>
                <a href="#none" class="dep01">Global</a>
                <ul class="sub">
                </ul>
            </li>
            <li class="plus">
                <a href="javascript:" class="dep01">Management</a>
                <ul class="sub">
                    <li><a onclick="movePage(URI_CP_GLOBAL_CLUSTER)">Clusters</a></li>
                    <li><a onclick="movePage(URI_CP_GLOBAL_CLOUD_ACCOUNTS)">Cloud Account</a></li>
                    <li><a onclick="movePage(URI_CP_GLOBAL_INSTANCE_CODE_TEMPLATES)">Instance Code Template</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</aside>

</html>