<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<span th:fragment="configFragment">

    <script th:inline="javascript">

     // API URI
     var URI_CP_BASE_URL = [[${T(org.paasta.container.platform.web.admin.common.ConstantsUrl).URI_CP_BASE_URL}]];
     var URI_CP_INDEX_URL = [[${T(org.paasta.container.platform.web.admin.common.ConstantsUrl).URI_CP_INDEX_URL}]];
     var URI_CP_CLUSTERS_NAMESPACES = [[${T(org.paasta.container.platform.web.admin.common.ConstantsUrl).URI_CP_CLUSTERS_NAMESPACES}]];
     var URI_CP_CLUSTERS_NODES = [[${T(org.paasta.container.platform.web.admin.common.ConstantsUrl).URI_CP_CLUSTERS_NODES}]];

     var URI_CP_WORKLOADS_DEPLOYMENTS = [[${T(org.paasta.container.platform.web.admin.common.ConstantsUrl).URI_CP_WORKLOADS_DEPLOYMENTS}]];
     var URI_CP_WORKLOADS_PODS = [[${T(org.paasta.container.platform.web.admin.common.ConstantsUrl).URI_CP_WORKLOADS_PODS}]];
     var URI_CP_WORKLOADS_REPLICASETS = [[${T(org.paasta.container.platform.web.admin.common.ConstantsUrl).URI_CP_WORKLOADS_REPLICASETS}]];

     var URI_CP_SERVICES_SERVICES = [[${T(org.paasta.container.platform.web.admin.common.ConstantsUrl).URI_CP_SERVICES_SERVICES}]];
     var URI_CP_SERVICES_INGRESSES = [[${T(org.paasta.container.platform.web.admin.common.ConstantsUrl).URI_CP_SERVICES_INGRESSES}]];

     var URI_CP_STORAGES_STORAGECLASSES = [[${T(org.paasta.container.platform.web.admin.common.ConstantsUrl).URI_CP_STORAGES_STORAGECLASSES}]];
     var URI_CP_STORAGES_PERSISTENTVOLUMES = [[${T(org.paasta.container.platform.web.admin.common.ConstantsUrl).URI_CP_STORAGES_PERSISTENTVOLUMES}]];
     var URI_CP_STORAGES_PERSISTENTVOLUMECLAIMS = [[${T(org.paasta.container.platform.web.admin.common.ConstantsUrl).URI_CP_STORAGES_PERSISTENTVOLUMECLAIMS}]];

     var URI_CP_MANAGEMENTS_LIMITRANGES = [[${T(org.paasta.container.platform.web.admin.common.ConstantsUrl).URI_CP_MANAGEMENTS_LIMITRANGES}]];
     var URI_CP_MANAGEMENTS_RESOURCEQUOTAS = [[${T(org.paasta.container.platform.web.admin.common.ConstantsUrl).URI_CP_MANAGEMENTS_RESOURCEQUOTAS}]];
     var URI_CP_MANAGEMENTS_ROLES = [[${T(org.paasta.container.platform.web.admin.common.ConstantsUrl).URI_CP_MANAGEMENTS_ROLES}]];
     var URI_CP_MANAGEMENTS_USERS = [[${T(org.paasta.container.platform.web.admin.common.ConstantsUrl).URI_CP_MANAGEMENTS_USERS}]];
     var URI_CP_MANAGEMENTS_USERS_ADMIN = [[${T(org.paasta.container.platform.web.admin.common.ConstantsUrl).URI_CP_MANAGEMENTS_USERS_ADMIN}]];
     var URI_CP_MANAGEMENTS_INACTIVE_USERS = [[${T(org.paasta.container.platform.web.admin.common.ConstantsUrl).URI_CP_MANAGEMENTS_INACTIVE_USERS}]];
     var URI_CP_MANAGEMENTS_CONFIGMAPS = [[${T(org.paasta.container.platform.web.admin.common.ConstantsUrl).URI_CP_MANAGEMENTS_CONFIGMAPS}]];

     var URI_CP_LIST = [[${T(org.paasta.container.platform.web.admin.common.ConstantsUrl).URI_CP_LIST}]];
     var URI_CP_DETAILS = [[${T(org.paasta.container.platform.web.admin.common.ConstantsUrl).URI_CP_DETAILS}]];
     var URI_CP_CREATE = [[${T(org.paasta.container.platform.web.admin.common.ConstantsUrl).URI_CP_CREATE}]];
     var URI_CP_UPDATE = [[${T(org.paasta.container.platform.web.admin.common.ConstantsUrl).URI_CP_UPDATE}]];
     var URI_CP_POPUP = [[${T(org.paasta.container.platform.web.admin.common.ConstantsUrl).URI_CP_POPUP}]];

     var URI_REQUEST_CP_API = [[${@environment.getProperty('cpApi.url')}]] + '/';
     //사용자 로그인 데이터 조회
     var URI_CP_GET_USER_LOGIN_DATA =  [[${T(org.paasta.container.platform.web.admin.common.ConstantsUrl).URI_CP_GET_USER_LOGIN_DATA}]];
     var URI_CP_REFRESH_TOKEN = [[${T(org.paasta.container.platform.web.admin.common.ConstantsUrl).URI_CP_REFRESH_TOKEN}]];


     var URI_CP_LIST = [[${T(org.paasta.container.platform.web.admin.common.ConstantsUrl).URI_CP_LIST}]];
     var URI_CP_DETAILS = [[${T(org.paasta.container.platform.web.admin.common.ConstantsUrl).URI_CP_DETAILS}]];
     var URI_CP_CREATE = [[${T(org.paasta.container.platform.web.admin.common.ConstantsUrl).URI_CP_CREATE}]];

     var URI_CP_LOGOUT = [[${T(org.paasta.container.platform.web.admin.common.ConstantsUrl).URI_CP_LOGOUT}]];;


     var URL_API_LOCALE_LANGUAGE = [[${T(org.paasta.container.platform.web.admin.common.ConstantsUrl).URL_API_LOCALE_LANGUAGE}]];;
     var URL_API_CHANGE_LOCALE_PARAM = [[${T(org.paasta.container.platform.web.admin.common.ConstantsUrl).URL_API_CHANGE_LOCALE_PARAM}]];;
     var LANG_KO = [[${T(org.paasta.container.platform.web.admin.common.ConstantsUrl).LANG_KO}]];;
     var LANG_EN = [[${T(org.paasta.container.platform.web.admin.common.ConstantsUrl).LANG_EN}]];;

     // VALUE
     var NAMESPACE_ALL_VALUE ='ALL';
     var AUTH_SUPER_ADMIN = "SUPER_ADMIN";
     var AUTH_CLUSTER_ADMIN = "CLUSTER_ADMIN";
     var AUTH_NAMESPACE_ADMIN = "NAMESPACE_ADMIN";
     var AUTH_USER = "USER";

     var AUTH_ADMIN_LST =[AUTH_SUPER_ADMIN, AUTH_CLUSTER_ADMIN];

     var AUTH_CLUSTER_ADMIN_CG = "CLUSTER ADMIN";
     var AUTH_NAMESPACE_ADMIN_CG = "NAMESPACE ADMIN";
     var AUTH_USER_CG = "USER";


     var SELECTED_ADMINISTRATOR = "administrator";
     var SELECTED_USER = "user";


     // NAMESPACE PROPERTIES
     var MSG_ENTER_THE_NAMESPACE = [[#{M0010}]];
     var MSG_NO_LIST = 	[[#{M0011}]];
     var MSG_NO_NAMESPACE_ADMINISTRATOR	= [[#{M0012}]];
     var MSG_CANNOT_SELECT_SAME_NAMESPACE =  [[#{M0013}]];
     var MSG_WANT_TO_SIGN_OUT = [[#{M0015}]];
     var MSG_INTEGRATED_SIGN_OUT_TAKES_PLACE = [[#{M0016}]];
     var MSG_ENTER_SEARCH_WORD = [[#{M0017}]];
     var MSG_CHECK_TO_DELETE =  [[#{M0018}]];
     var MSG_CHECK_TO_SAVE =  [[#{M0020}]];

     // MESSAGE PROPERTIES
     var MSG_CONFIRM = [[#{M0022}]];
     var MSG_CLOSE = [[#{M0023}]];
     var MSG_CREATE	= [[#{M0024}]];
     var MSG_EDIT = [[#{M0025}]];
     var MSG_DELETE	= [[#{M0026}]];
     var MSG_SELECT	= [[#{M0027}]];
     var MSG_PREVIOUS = [[#{M0028}]];
     var MSG_CANCEL	= [[#{M0029}]];
     var MSG_SAVE	= [[#{M0030}]];
     var MSG_SEARCH	= [[#{M0031}]];
     var MSG_UPDATE	= [[#{M0032}]];
     var MSG_SELECTION_COMPLETE	= [[#{M0033}]];
     var MSG_CONFIRM_DELETION	= [[#{M0034}]];
     var MSG_CONFIRM_SAVE = [[#{M0035}]];
     var MSG_PAAS_TA_LOGO = [[#{M0036}]];

     var MSG_SIGN_OUT = [[#{M0809}]];

     var CURRENT_LOCALE_LANGUAGE = '';

     var IS_OVERVIEW = false;
     var IS_NAMELOAD = false;

</script>
<script>
function movePage(locationName) {
    location.href = locationName;
}

function historyBack() {
    window.history.back();

}

function convertUserTypeString(userType) {
    if(userType == AUTH_CLUSTER_ADMIN) {
        return AUTH_CLUSTER_ADMIN_CG;
    }
    else if(userType == AUTH_NAMESPACE_ADMIN) {
        return AUTH_NAMESPACE_ADMIN_CG;
    }
    else {
        return AUTH_USER_CG;
    }
}

function changeLocaleLanguage() {
    var u_locale_lang = document.getElementById("u_locale_lang").value;
    var reqUrl =  URL_API_LOCALE_LANGUAGE+"?"+ URL_API_CHANGE_LOCALE_PARAM + "=" + u_locale_lang;
    func.setLocaleLang(reqUrl);
}

function setSelectValue(id, val) {
    document.getElementById(id).value = val;
}

function reloadPage() {
    location.reload();
}

function callbackFuncNameLoad() {
 /*  var items = document.querySelectorAll('.scroll02');
    for (var i = 0, len = items.length; i < len; i++) {
         items[i].classList.toggle('hidden', isHidden);
    }*/
    IS_NAMELOAD = true;

}
</script>
</span>

</html>