<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<div layout:fragment="content">
    <div id="content" class="sub-page">
        <article class="location">
            <ul>
                <li><a onclick="movePage(URI_CP_WORKLOADS_DEPLOYMENTS)">Workloads</a></li>
                <li><a onclick="movePage(URI_CP_WORKLOADS_REPLICASETS)">Replica Sets</a></li>
            </ul>
            <!-- Click event class="on" -->
            <fieldset>
                <input type="text" name="keyword" id="searchText" autocomplete="off" th:placeholder="#{M0017}" />
                <button type="submit" id="search" th:text="#{M0031}"></button>
            </fieldset>
        </article>
        <article class="base">
            <div class="notice">
                <h3>List</h3>
                <!-- User -->
                <div class="table_style01">
                    <!-- board -->
                    <table>
                        <caption>Replica List</caption>
                        <colgroup >
                            <col width="25%" />
                            <col width="25%" />
                            <col width="7%" />
                            <col width="25%" />
                            <col width="18%" />
                        </colgroup>
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Namespaces</th>
                            <th scope="col">Pods</th>
                            <th scope="col">Image</th>
                            <th scope="col">Created Time</th>
                        </tr>
                        </thead>
                        <tbody class="listTable">
                        </tbody>
                    </table>
                    <!-- more btn -->
                    <a class="more" href="javascript:;">more</a>
                </div>
                <!-- btn -->
                <a href="javascript:;" class="create" th:text="#{M0024}"></a>
            </div>
        </article>
    </div>
</div>
<th:block layout:fragment="script">
    <script type="text/javascript">
    window.onload = () => {

        func.init(ASIDE_DP1.WORKLOADS, ASIDE_DP2.REPLICASETS);
        callbackFuncNameLoad();

        const replica = {
            offset : 0, // 로드 페이지 넘버
            limit : 10, // 로드 게시물 개수
            allItemCount : 0, //게시물 총 개수
            searchName : '',

            init(){
                func.nameLoad = replica.reset;

                replica.load();

                replica.event();
            },

            reset(){
                func.removeHtml(document.querySelector('.listTable'));

                replica.offset = 0;

                replica.load();
            },

            load(){
                func.loading();

                func.loadData('GET', `${func.url}clusters/${sessionStorage.getItem('cluster')}/namespaces/${sessionStorage.getItem('nameSpace')}/replicaSets?limit=${replica.limit}&offset=${replica.offset}&searchName=${document.getElementById('searchText').value}`, 'application/json', replica.draw);
            },

            draw(data){

                if(replica.offset == 0) replica.allItemCount = data.itemMetaData.allItemCount;

                if(data.httpStatusCode == 200){
                    if(data.items.length > 0){
                        for(var i=0; i<=data.items.length-1; i++){
                            var html = `<tr><td class="left"><a href="javascript:;" data-name="${data.items[i].name}" data-id="${data.items[i].namespace}">${data.items[i].name}</a></td><td class="left">${data.items[i].namespace}</td><td>${data.items[i].runningPods} / ${data.items[i].totalPods}</td><td class="left">${data.items[i].image}</td><td>${data.items[i].creationTimestamp}</td></tr>`;

                            func.appendHtml(document.querySelector('.listTable'), html, 'tbody');
                        };
                    } else {
                        var html = '<tr><td colspan="6">No Data.</td></tr>';

                        func.appendHtml(document.querySelector('.listTable'), html, 'tbody');
                    };
                } else {
                    var html = '<tr><td colspan="6">No Data.</td></tr>';

                    func.appendHtml(document.querySelector('.listTable'), html, 'tbody');
                };

                // more 버튼 활성, 비활성
                if(document.querySelector('.listTable').querySelectorAll('tr').length < replica.allItemCount){
                    document.querySelector('.more').classList.toggle('on', true);
                } else {
                    document.querySelector('.more').classList.toggle('on', false);
                };

                if(document.getElementById('loading')){
                    document.getElementById('wrap').removeChild(document.getElementById('loading'));
                };

                replica.listEvent();
            },

            event(){
                // more 버튼 event
                document.querySelector('.more').addEventListener('click', (e) => {
                    if(document.querySelector('.listTable').querySelectorAll('tr').length < replica.allItemCount){
                    replica.offset++;

                    replica.load();
                };
            }, false);

                document.querySelector('.create').addEventListener('click', (e) => {
                    sessionStorage.setItem('commonName', '');

                func.create('Create', 'replicaSets', MSG_SAVE);
            }, false);
            },

            listEvent(){
                var listAll = document.querySelector('.listTable').querySelectorAll('a');

                for(var i=replica.offset*10; i<=listAll.length-1; i++){

                    listAll[i].addEventListener('click', (e) => {
                        sessionStorage.setItem('nameSpace', e.target.getAttribute('data-id'));
                    sessionStorage.setItem('commonName', e.target.getAttribute('data-name'));

                    document.location.href = URI_CP_WORKLOADS_REPLICASETS + URI_CP_DETAILS;
                }, true);
                };
            },
        }

        replica.init();
    }
</script>
</th:block>
</html>