<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content">
    <div id="content" class="sub-page">
            <article class="location">
                <ul>
                    <li><a onclick="movePage(URI_CP_MANAGEMENTS_USERS_ADMIN)">Managements</a></li>
                    <li><a onclick="movePage(URI_CP_MANAGEMENTS_USERS_ADMIN)">Users</a></li>
                </ul>
            </article>
            <article class="base detail">
                <div class="notice">
                    <h4>Details</h4>
                    <div class="table_style01">
                        <table>
                            <caption>Details</caption>
                            <colgroup >
                                <col width="20%" />
                                <col width="80%" />
                            </colgroup>
                            <tbody class="listTable">
                            <tr>
                                <th scope="row" class="left">User ID</th>
                                <td class="left customBorderTop" id="uid"></td>
                            </tr>
                            <tr>
                                <th scope="row" class="left">User Type</th>
                                <td class="left" id="userType"></td>
                            </tr>
                            <tr>
                                <th scope="row" class="left">Services Account</th>
                                <td class="left" id="account"></td>
                            </tr>
                            <tr>
                                <th scope="row" class="left">Created time</th>
                                <td class="left" id="time"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table_style01">
                        <table>
                            <caption>Details</caption>
                            <colgroup >
                                <col width="25%" />
                                <col width="25%" />
                                <col width="25%" />
                                <col width="25%" />
                            </colgroup>
                            <thead>
                            <tr>
                                <th scope="col">Namespaces</th>
                                <th scope="col">Authority</th>
                                <th scope="col">Role</th>
                                <th scope="col">Created Time</th>
                            </tr>
                            </thead>
                            <tbody class="detailList">
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- btn -->
                <div class="btn02">
                    <div>
                        <a href="javascript:;" id="modify" th:text="#{M0025}"></a>
                        <a class="beforeBtn" onclick="moveUserPrePage()" th:text="#{M0028}"></a>
                    </div>
                </div>
            </article>
        </div>
</div>

<th:block layout:fragment="script">
    <script type="text/javascript">
        var userAuthority = '';
    window.onload = () => {
        func.init(ASIDE_DP1.MANAGEMENTS, ASIDE_DP2.USERS);

        const userDetail = {
            init(){

                func.loading();

                func.loadData('GET', `${func.url}clusters/${sessionStorage.getItem('cluster')}/users/${sessionStorage.getItem('commonName')}`, 'application/json', userDetail.draw);
            },

            draw(data){

                // Details data
                document.getElementById('uid').innerText = data.userId;
                document.getElementById('userType').innerText = convertUserTypeString(data.userType);
                document.getElementById('account').innerText = data.serviceAccountName;
                document.getElementById('time').innerText = data.created;
                userAuthority = data.userType;

                if(data.items.length > 0){
                    for(var i=0; i<=data.items.length-1; i++){
                        var html = `<tr>
								<td class="left">${data.items[i].cpNamespace}</td>
								<td class="left">${convertUserTypeString(data.items[i].userType)}</td>
								<td class="left">${data.items[i].roleSetCode}</td>
                                <td class="left">${data.items[i].created}</td>`;

                        func.appendHtml(document.querySelector('.detailList'), html, 'tbody');
                    };
                } else {
                    var html = '<tr><td colspan="4">No Data.</td></tr>';

                    func.appendHtml(document.querySelector('.detailList'), html, 'tbody');
                };

                document.getElementById('wrap').removeChild(document.getElementById('loading'));

                userDetail.event();
            },

            event(){
                document.getElementById('modify').addEventListener('click', (e) => {
                    // Resource yaml 정보 조회
                    document.location.href = URI_CP_MANAGEMENTS_USERS + URI_CP_UPDATE;
            }, false);
            }

        }

        userDetail.init();
    }
    function moveUserPrePage(){
      if(userAuthority == AUTH_CLUSTER_ADMIN) {
          movePage(URI_CP_MANAGEMENTS_USERS_ADMIN);
      }
      else {
          movePage(URI_CP_MANAGEMENTS_USERS);
      }
    }
</script>
</th:block>
</html>