@charset "utf-8";

@font-face{font-family:'Apple SD Gothic Neo'; src:url('../font/Apple+산돌고딕+Neo/AppleSDGothicNeoM.ttf')}
@font-face{font-family:'Apple SD Gothic Neo B'; src:url('../font/Apple+산돌고딕+Neo/AppleSDGothicNeoB.ttf')}
@font-face{font-family:'Apple SD Gothic Neo L'; src:url('../font/Apple+산돌고딕+Neo/AppleSDGothicNeoL.ttf')}


*{
    font-family: 'Apple SD Gothic Neo','Nanum Gothic';
}
.layer {position:absolute;display:table;top:0;left:0;width:100%;height:100%}
.layer .layer_inner{display:table-cell;text-align:center;vertical-align:middle}
.layer .content{display:inline-block;background:#fff;width: 28%; margin-top: -100px;}
.panel {
    border: solid 1px #bbb;
}
.panel-heading {
    background-color: #292d37; padding: 20px;
}

.panel-image {
    vertical-align: middle; margin-left: -20px;
}
.header-title {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    vertical-align:middle;
    margin-left: 6px;
}
.panel-body {
    padding: 40px;
}
.panel-body span {
    color: #343942;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #ccc;
}
#pageBtn {
    background-color: white;
    border: 2px solid #e7e7e7;
    color: black;
    padding: 5px 38px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#pageBtn:hover {
    background-color: #e7e7e7;
}

#pageBtn:focus {
    outline: 0;
}
