<!--
  403 error page

  @author kjhoon
  @version 1.0
  @since 2021.06.15
-->

<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/css/empty_layout.css" rel="stylesheet" type="text/css"/>
    <title>Container Platform Admin Portal</title>
    <link rel='shortcut icon' type='image/x-icon' href='/img/favicon.ico?v=2'/>
</head>
<body>
<div class="layer">
    <div class="layer_inner">
        <div class="content">
            <div class="panel" style="">
                <div class="panel-heading" style="">
                    <div>
                        <img class="panel-image">
                    </div>
                </div>

                <div class="panel-body" style="">
                    <span style="" th:text="#{M0003}"></span>
                    <hr/>
                    <div class="form-group">
                        <button type="button" id="pageBtn" onclick="location.href='/'" th:text="#{M0008}"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>