<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content">
    <div id="content" class="sub-page clusters">
        <article class="location">
            <ul>
                <li><a onclick="movePage(URI_CP_BASE_URL)">Global</a></li>
                <li><a onclick="movePage(URI_CP_GLOBAL_CLOUD_ACCOUNTS)">CloudAccounts</a></li>
            </ul>
        </article>
        <article class="base">
            <div class="creat">
                <h3 th:text="|CloudAccounts #{M0024}|"></h3>
                <div>
                    <dl>
                        <dt><label for="name">Name</label></dt>
                        <dd>
                            <input id="name" type="text" th:placeholder="#{M0010}"/>
<!--        FIXME, placeHolder 문구                    -->
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="provider">Provider</label></dt>
                        <dd>
                            <fieldset>
                                <select id="provider" onchange="changeProviderSelect()">
                                </select>
                            </fieldset>
                        </dd>
                    </dl>
                    <dl id="providerInfo">
                    </dl>
                </div>
            </div>
            <!-- btn -->
            <div class="btn02">
                <button onclick="movePage(URI_CP_GLOBAL_CLOUD_ACCOUNTS);" th:text="#{M0028}"></button>
                <div>
                    <button type="submit" id="save" th:text="#{M0030}"></button>
                </div>
            </div>
        </article>
    </div>
</div>

<th:block layout:fragment="script">
    <script type="text/javascript">
        let info;
        let providerInfo = "";

        window.onload = () => {

            IS_GLOBAL = true;
            func.init(ASIDE_DP1.GLOBAL, ASIDE_DP2.CLOUD_ACCOUNT);


            const createCloudAccounts = {
                init() {

                    // provider 정보 조회
                    func.loadData('GET', `${func.url}accounts/provider/info`, 'application/json', createCloudAccounts.draw);

                },

                draw(data) {
                    info = new Map(Object.entries(data.items));
                    let html = ``;
                    for (let key of info.keys()) {
                        html += `<option value="${key}"`;
                        if (key == 'AWS') html += ` selected`;
                        html += `>${key}</option>`;
                    }
                    func.appendHtml(document.getElementById('provider'), html, 'select');

                    createCloudAccounts.event();
                },

                event() {
                    document.getElementById('save').addEventListener('click', () => {
                        func.alertPopup('SAVE', MSG_CHECK_TO_SAVE, true, MSG_CONFIRM, createCloudAccounts.save);
                    }, false);
                    changeProviderSelect();
                },

                save() {
                    let createName;
                    let providerType = document.getElementById('provider').value;

                    switch(providerType) {
                        case 'AWS':
                            createName = {
                                "resourceName": document.getElementById('name').value,
                                "providerType": providerType,
                                "region": document.getElementById('region').value,
                                "providerInfo": {
                                    "accessKey": document.getElementById('accessKey').value,
                                    "secretKey": document.getElementById('secretKey').value
                                }
                            };
                            break;
                        case 'GCP':
                            createName = {
                                "resourceName": document.getElementById('name').value,
                                "providerType": providerType,
                                "region": document.getElementById('region').value,
                                "providerInfo": {
                                    providerInfo,
                                    "projectName": document.getElementById('projectName').value
                                }
                            };
                            break;
                        case 'OPENSTACK':
                            createName = {
                                "resourceName": document.getElementById('name').value,
                                "providerType": providerType,
                                "region": document.getElementById('region').value,
                                "project": document.getElementById('project').value,
                                "providerInfo": {
                                    "auth_url": document.getElementById('auth_url').value,
                                    "password": document.getElementById('password').value,
                                    "user_name" : document.getElementById('user_name').value
                                    }
                            };
                            break;
                        default:
                            //FIXME! error 처리.


                    }
                    //check FILE
                    func.saveData('POST', `${func.url}accounts`, JSON.stringify(createName), true, 'application/json', createCloudAccounts.saveComp);

                },

                saveComp() {
                    func.historyBack();
                }
            };
            createCloudAccounts.init();
        };
    function changeProviderSelect() {
        func.removeHtml(document.getElementById('providerInfo'));
        let html = ``;
        let provider = document.querySelector('#provider > option:checked').value;
        let values = info.get(provider);
        if (provider === 'GCP') {
            html += `<dl><dt><label for="jsonKey">jsonKey</label></dt><dd><input id="jsonKey" type="file" accept="application/json" /></dd></dl>`;
            html += `<dl><dt><label for="projectName">projectName</label></dt><dd><input id="projectName" type="text" /></dd></dl>`;
        }
        else {
            for (let key of Object.keys(values)) {
                html += `<dl><dt><label for="${key}">${key}</label></dt><dd><input id="${key}" type="text" /></dd></dl>`;
            }
        }
        if(provider === 'OPENSTACK') {
            html += `<dl><dt><label for="project">project</label></dt><dd><input id="project" type="text" /></dd></dl>`;
        }
        html += `<dl><dt><label for="region">region</label></dt><dd><input id="region" type="text" /></dd></dl>`;
        func.appendHtml(document.getElementById('providerInfo'), html, 'dl');
        if (provider === 'GCP') {
            document.getElementById('jsonKey').addEventListener('change', onChange);
        }

    }

    function onChange(event) {
        let reader = new FileReader();
        reader.onload = onReaderLoad;
        providerInfo = "";
        let file = event.target.files[0];
        if (file.type && !file.type.endsWith('json')) {
            func.alertPopup('ERROR', MSG_INVALID_FORMAT, false, MSG_CLOSE, true);
            return; //FIXME! Alert
        }
        reader.readAsText(file);
    }

    function onReaderLoad(event){
        providerInfo = JSON.parse(event.target.result);
        //FIXME!!, CHECK

    }

    </script>
</th:block>
</html>