<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content">
    <!-- Content -->
    <div id="content">
        <article class="view">
            <h3>Overview</h3>
            <div>
                <dl>
                    <dt>Namespaces</dt>
                    <dd id="nameStatus">0</dd>
                </dl>
                <dl>
                    <dt>Deployments</dt>
                    <dd id="deployStatus">0</dd>
                </dl>
                <dl>
                    <dt>Pods</dt>
                    <dd id="podStatus">0</dd>
                </dl>
                <dl>
                    <dt>Users</dt>
                    <dd id="userStatus">0</dd>
                </dl>
            </div>
        </article>
        <article class="chart">
            <h4>Charts</h4>
            <ul>
                <li>
                    <h5>Deployment</h5>
                    <!-- doughnutChart -->
                    <div>
                        <canvas id="deploymentChart" style="height: 250px; max-width: 100%;"></canvas>
                    </div>
                    <a onclick="movePage(URI_CP_WORKLOADS_DEPLOYMENTS)">more</a>
                </li>
                <li>
                    <h5>Pods</h5>
                    <div>
                        <canvas id="podChart" style="height: 250px; max-width: 100%;"></canvas>
                    </div>
                    <a onclick="movePage(URI_CP_WORKLOADS_PODS)">more</a>
                </li>
                <li>
                    <h5>ReplicaSets</h5>
                    <div>
                        <canvas id="replicaSetChart" style="height: 250px; max-width: 100%;"></canvas>
                    </div>
                    <a onclick="movePage(URI_CP_WORKLOADS_REPLICASETS)">more</a>
                </li>
            </ul>
        </article>
    </div>
    <!-- // Content -->
</div>

<th:block layout:fragment="script">
    <!-- jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="/plugins/chart.js-3.8.0/package/dist/chart.min.js"></script>

    <script type="text/javascript">
        window.onload = () => {

            IS_OVERVIEW = true;
            func.init();

            const overview = {
                init() {
                    func.nameLoad = overview.load;
                },

                load() {
                    func.loading();

                    // nameSpace 정보 조회
                    func.loadData('GET', `${func.url}clusters/${sessionStorage.getItem('cluster')}/namespaces/${sessionStorage.getItem('nameSpace')}/overview`, 'application/json', overview.draw);
                    IS_OVERVIEW = false;
                },

                draw(data) {

                    if (data.httpStatusCode == 200) {
                        // dstatus setting
                        func.countUp(document.getElementById('nameStatus'), data.namespacesCount);
                        func.countUp(document.getElementById('deployStatus'), data.deploymentsCount);
                        func.countUp(document.getElementById('podStatus'), data.podsCount);
                        func.countUp(document.getElementById('userStatus'), data.usersCount);

                        overview.chart(data);

                    }
                    document.getElementById('wrap').removeChild(document.getElementById('loading'));
                },
                chart(data) {
                    /* ChartJS
            * -------
            * Here we will create a few charts using ChartJS
            */
                    var backgroundColor = [
                        'rgba(54, 162, 235, 0.5)',
                        'rgba(255, 159, 64, 0.5)',
                        'rgba(255, 159, 64, 0.5)',
                        'rgba(255, 205, 86, 0.5)',
                        'rgba(153, 102, 255, 0.5)',
                        'rgba(201, 203, 207, 0.5)'
                    ];


                    var dataId = ['deploymentChart', 'podChart', 'replicaSetChart'];
                    var dataArr = [data.deploymentsUsage, data.podsUsage, data.replicaSetsUsage];


                    for (var i = 0; i < dataId.length; i++) {
                        var usageRawData = dataArr[i];
                        var labels = [];

                        for(var k = 0; k < usageRawData.length; k++) {
                            var item = usageRawData[k];
                            labels.push(item.type);
                        }

                        var dataSets = {
                            labels: labels,
                            datasets: [{
                                data: usageRawData,
                                backgroundColor: backgroundColor
                            }]
                        };


                        var config = {
                            type: 'doughnut',
                            data: dataSets,
                            options: {
                                responsive: true,
                                maintainAspectRatio: false,
                                parsing: {
                                    key: 'percent'
                                },
                                plugins: {
                                    tooltip: {
                                        callbacks: {
                                          label: function(tooltipItems, data) {
                                            var item = tooltipItems.raw;
                                            var label = item.type;
                                            var label2 = "Percent : " + item.percent +  '%';
                                            var label3 = "Count : "  + item.count;
                                              return [label, label2, label3];
                                            }

                                        }
                                    }
                                }
                            }
                        };

                        new Chart(
                            document.getElementById(dataId[i]),
                            config
                        );
                    }
                    ;


                    //-------------
                }
            }


            overview.init();
        }
    </script>
</th:block>

</html>