<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content">
    <div id="content" class="sub-page clusters">
        <article class="location">
            <ul>
                <li><a onclick="movePage(URI_CP_BASE_URL)">Overview</a></li>
                <li><a onclick="movePage(URI_CP_CLUSTERS_NAMESPACES)">Clusters</a></li>
                <li><a onclick="movePage(URI_CP_CLUSTERS_NAMESPACES)">Namespaces</a></li>
            </ul>
        </article>
        <article class="base detail">
            <div class="notice">
                <h4>Details</h4>
                <div class="table_style01">
                    <table>
                        <colgroup>
                            <col width="18%"/>
                            <col width="82%"/>
                        </colgroup>
                        <tbody class="listTable">
                        <tr>
                            <th scope="row" class="left">Name</th>
                            <td class="left" id="name"></td>
                        </tr>
                        <tr>
                            <th scope="row" class="left">UID</th>
                            <td class="left" id="uid"></td>
                        </tr>
                        <tr>
                            <th scope="row" class="left">Labels</th>
                            <td class="box left" id="label">
                                <div></div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="left">Annotations</th>
                            <td class="left box" id="annot"></td>
                        </tr>
                        <tr>
                            <th scope="row" class="left">Status</th>
                            <td class="left" id="status"></td>
                        </tr>
                        <tr>
                            <th scope="row" class="left">Created time</th>
                            <td class="left" id="time"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <h4>Resource Quotas</h4>
                <div class="table_style01">
                    <table>
                        <colgroup>
                            <col width="20%"/>
                            <col width="60%"/>
                            <col width="20%"/>
                        </colgroup>
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Status</th>
                            <th scope="col">Created Time</th>
                        </tr>
                        </thead>
                        <tbody class="resourceList">
                        </tbody>
                    </table>
                </div>
                <h4>Limit Ranges</h4>
                <div class="table_style01">
                    <table>
                        <colgroup>
                            <col width="25%"/>
                            <col width="25%"/>
                            <col width="25%"/>
                            <col width="25%"/>
                        </colgroup>
                        <thead>
                        <tr>
                            <th scope="col">Resource Name</th>
                            <th scope="col">Resource Type</th>
                            <th scope="col">Default Limit</th>
                            <th scope="col">Default Request</th>
                        </tr>
                        </thead>
                        <tbody class="limitList">
                        </tbody>
                    </table>
                </div>
                <h4>Events</h4>
                <div class="table_style01">
                    <table>
                        <colgroup>
                            <col width="20%"/>
                            <col width="20%"/>
                            <col width="16%"/>
                            <col width="8%"/>
                            <col width="18%"/>
                            <col width="18%"/>
                        </colgroup>
                        <thead>
                        <tr>
                            <th scope="col">Message</th>
                            <th scope="col">Source</th>
                            <th scope="col">Sub-object</th>
                            <th scope="col">Count</th>
                            <th scope="col">First seen</th>
                            <th scope="col">Last seen</th>
                        </tr>
                        </thead>
                        <tbody class="eventsList">
                        </tbody>
                    </table>
                </div>
                <h4>Users</h4>
                <div class="table_style01">
                    <table>
                        <caption>Users</caption>
                        <colgroup>
                            <col width="10%"/>
                            <col width="20%"/>
                            <col width="25%"/>
                            <col width="25%"/>
                            <col width="20%"/>
                        </colgroup>
                        <thead>
                        <tr>
                            <th scope="col">Admin</th>
                            <th scope="col">Authority</th>
                            <th scope="col">User ID</th>
                            <th scope="col">Services Account</th>
                            <th scope="col">Created time</th>
                        </tr>
                        </thead>
                        <tbody class="usersList">
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- btn -->
            <div class="btn02">
                <button type="submit" id="delete" th:text="#{M0026}"></button>
                <div>
                    <a onclick="movePage(URI_CP_CLUSTERS_NAMESPACES);" th:text="#{M0028}"></a>
                    <a onclick="movePage(URI_CP_CLUSTERS_NAMESPACES + URI_CP_UPDATE);" th:text="#{M0025}"></a>
                </div>
            </div>
        </article>
    </div>
</div>

<div layout:fragment="modal">
    <div class="modal-wrap" style="display:none;">
        <div class="modal">
            <h5 th:text="#{M0034}"></h5>
            <p th:text="#{M0018}"></p>
            <button class="confirm" type="submit" th:text="#{M0026}"></button>
            <a class="close" href="javascript:;" th:text="#{M0023}"></a>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script type="text/javascript">
        window.onload = () => {

            func.init(ASIDE_DP1.CLUSTERS, ASIDE_DP2.NAMESPACES);

            const nameDetail = {
                init(data) {
                    
                    func.nameLoad = nameDetail.init;

                    // nameSpace 정보 조회
                    func.loadData('GET', `${func.url}clusters/${sessionStorage.getItem('cluster')}/namespaces/${sessionStorage.getItem('nameSpace')}`, 'application/json', nameDetail.draw);

                    // resource 정보 조회
                    func.loadData('GET', `${func.url}clusters/${sessionStorage.getItem('cluster')}/namespaces/${sessionStorage.getItem('nameSpace')}/popup/resourceQuotas/template?offset=0&limit=0`, 'application/json', nameDetail.resource);

                    // limit 정보 조회
                    func.loadData('GET', `${func.url}clusters/${sessionStorage.getItem('cluster')}/namespaces/${sessionStorage.getItem('nameSpace')}/popup/limitRanges/template?offset=0&limit=0`, 'application/json', nameDetail.limit);

                    // events 정보 조회
                    func.loadData('GET', `${func.url}clusters/${sessionStorage.getItem('cluster')}/namespaces/${sessionStorage.getItem('nameSpace')}/events`, 'application/json', nameDetail.events);

                    // users 정보 조회
                    func.loadData('GET', `${func.url}clusters/${sessionStorage.getItem('cluster')}/namespaces/${sessionStorage.getItem('nameSpace')}/users/namespace`, 'application/json', nameDetail.users);

                    nameDetail.event();
                },

                draw(data) {

                    document.getElementById('name').innerText = data.name;
                    document.getElementById('uid').innerText = data.uid;

                    if (data.labels != '-') {
                        for (var i = 0; i <= Object.getOwnPropertyNames(data.labels).length - 1; i++) {
                            var html = `<dl><dt>${Object.getOwnPropertyNames(data.labels)[i]}</dt><dd>${data.labels[Object.keys(data.labels)[i]]}</dd></dl>`;

                            func.appendHtml(document.getElementById('label'), html, 'dl');
                        }
                        ;
                    } else {
                        var html = `<dl><dt>-</dt></dl>`;

                        func.appendHtml(document.getElementById('label'), html, 'dl');
                    }

                    document.getElementById('status').innerText = data.namespaceStatus;
                    document.getElementById('time').innerText = data.creationTimestamp;

                    if (data.annotations.length > 0) {
                        for (i = 0; i <= data.annotations.length - 1; i++) {
                            if (data.annotations[i].checkYn == 'Y') {
                                var html = `<dl class="fly">
												<dt>${data.annotations[i].key}</dt>
												<dd> ${data.annotations[i].value}</dd>
											</dl>`;
                            } else if (data.annotations[i].checkYn == 'N') {
                                var html = `<dl>
												<dt>${data.annotations[i].key}</dt>
												<dd> ${data.annotations[i].value}</dd>
											</dl>`;
                            } else {
                                var html = `<dl>
												<dt>-</dt>
											</dl>`;
                            }
                            ;

                            func.appendHtml(document.getElementById('annot'), html, 'dl');
                        }
                        ;
                    }
                    ;
                },

                event() {
                    document.getElementById('delete').addEventListener('click', (e) => {
                        func.alertPopup('DELETE', MSG_CHECK_TO_DELETE, true, MSG_CONFIRM , nameDetail.delete);
                    }, false);
                },

                delete() {
                    func.saveData('DELETE', `${func.url}clusters/${sessionStorage.getItem('cluster')}/namespaces/${sessionStorage.getItem('nameSpace')}`, '', true, 'application/json', nameDetail.returnPage);
                },

                returnPage() {
                    document.location.href = URI_CP_CLUSTERS_NAMESPACES;
                },

                resource(data) {


                    if (data.items.length > 0) {
                        for (var i = 0; i <= data.items.length - 1; i++) {
                            if (data.items[i].checkYn == 'Y') {
                                var html = `<tr><td class="left">${data.items[i].name}</td><td class="left">${data.items[i].status}</td><td>${data.items[i].creationTimestamp}</td></tr>`;

                                func.appendHtml(document.querySelector('.resourceList'), html, 'tbody');
                            }
                            ;
                        }
                        ;
                    } else {
                        var html = `<tr><td colspan="3">No Data.</td></tr>`;

                        func.appendHtml(document.querySelector('.resourceList'), html, 'tbody');
                    }

                    if (document.querySelector('.resourceList').querySelectorAll('tbody tr').length == 0) {
                        var html = `<tr><td colspan="4">No Data.</td></tr>`;

                        func.appendHtml(document.querySelector('.resourceList'), html, 'tbody');
                    }
                    ;
                },

                limit(data) {

                    if (data.items.length > 0) {
                        for (var i = 0; i <= data.items.length - 1; i++) {
                            if (data.items[i].checkYn == 'Y') {
                                var html = `<tr>
												<td class="left">${data.items[i].resource}</td>
												<td>${data.items[i].type}</td>
												<td>${data.items[i].defaultLimit}</td>
												<td>${data.items[i].defaultRequest}</td>
											</tr>`;

                                func.appendHtml(document.querySelector('.limitList'), html, 'tbody');
                            }
                            ;
                        }
                    } else {
                        var html = `<tr><td colspan="4">No Data.</td></tr>`;

                        func.appendHtml(document.querySelector('.limitList'), html, 'tbody');
                    }
                    ;

                    if (document.querySelector('.limitList').querySelectorAll('tbody tr').length == 0) {
                        var html = `<tr><td colspan="4">No Data.</td></tr>`;

                        func.appendHtml(document.querySelector('.limitList'), html, 'tbody');
                    }
                    ;

                },

                events(data) {

                    if (data.items.length > 0) {
                        for (var i = 0; i <= data.items.length - 1; i++) {
                            var html = `<tr>
								<td class="left">${data.items[i].message}</td>
								<td class="left">${data.items[i].source.component} ${data.items[i].source.host}</td>
								<td class="left">${data.items[i].filePath}</td>
								<td>${data.items[i].count}</td>
								<td>${data.items[i].firstTimestamp}</td>
								<td>${data.items[i].lastTimestamp}</td>
							</tr>`;

                            func.appendHtml(document.querySelector('.eventsList'), html, 'tbody');
                        }
                        ;
                    } else {
                        var html = `<tr><td colspan="6">No Data.<td></tr>`;

                        func.appendHtml(document.querySelector('.eventsList'), html, 'tbody');
                    }
                    ;
                },

                users(data) {

                    if (data.items.length > 0) {
                        for (var i = 0; i <= data.items.length - 1; i++) {
                            var html = `<td>${data.items[i].isAdmin}</td>
                            <td>${convertUserTypeString(data.items[i].userType)}</td>
							<td>${data.items[i].userId}</td>
							<td>${data.items[i].serviceAccountName}</td>
							<td>${data.items[i].created}</td>`;

                            func.appendHtml(document.querySelector('.usersList'), html, 'tbody');
                        }
                        ;
                    } else {
                        var html = `<tr><td colspan="5">No Data.<td></tr>`;

                        func.appendHtml(document.querySelector('.usersList'), html, 'tbody');
                    }
                    ;

                    nameDetail.userEvent();
                },

                userEvent() {
                    var listAll = document.querySelector('.usersList').querySelectorAll('a');

                    for (var i = 0; i <= listAll.length - 1; i++) {
                        listAll[i].addEventListener('click', (e) => {
                            sessionStorage.setItem('commonName', e.target.getAttribute('data-name'));

                            document.location.href = URI_CP_MANAGEMENTS_USERS + URI_CP_DETAILS;
                        }, true);
                    }
                    ;
                },
            }

            nameDetail.init();
        }
    </script>
</th:block>
</html>