<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/layout}">

<div layout:fragment="content">
    <div id="content" class="sub-page clusters">
        <article class="location">
            <ul>
                <li><a onclick="movePage(URI_CP_BASE_URL)">Overview</a></li>
                <li><a onclick="movePage(URI_CP_CLUSTERS_NAMESPACES)">Clusters</a></li>
                <li><a onclick="movePage(URI_CP_CLUSTERS_NAMESPACES)">Namespaces</a></li>
            </ul>
            <!-- Click event class="on" -->
            <fieldset>
                <input type="text" name="keyword" id="searchText" autocomplete="off" th:placeholder="#{M0017}"/>
                <button type="submit" id="search" th:text="#{M0031}"></button>
            </fieldset>
        </article>
        <article class="base">
            <div class="notice">
                <h3>List</h3>
                <!-- User -->
                <div class="table_style01">
                    <!-- board -->
                    <table>
                        <caption>Namespaces List</caption>
                        <colgroup>
                            <col width="35%"/>
                            <col width="35%"/>
                            <col width="12%"/>
                            <col width="18%"/>
                        </colgroup>
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Labels</th>
                            <th scope="col">Status</th>
                            <th scope="col">Created Time</th>
                        </tr>
                        </thead>
                        <tbody class="listTable">
                        </tbody>
                    </table>
                    <!-- more btn -->
                    <a class="more" href="javascript:;">more</a>
                </div>
                <!-- btn -->
                <a href="javascript:;" class="create" th:text="#{M0024}"></a>
            </div>
        </article>
    </div>
</div>

<th:block layout:fragment="script">
    <script type="text/javascript">
        window.onload = () => {

            func.init(0, 0);
            callbackFuncNameLoad();

            const nameSpace = {
                offset: 0, // 로드 페이지 넘버
                limit: 10, // 로드 게시물 개수
                allItemCount: 0, //게시물 총 개수

                init() {
                    func.nameLoad = nameSpace.reset;

                    nameSpace.load();

                    nameSpace.event();
                },

                reset() {
                    func.removeHtml(document.querySelector('.listTable'));

                    nameSpace.offset = 0;

                    nameSpace.load();
                },

                load() {
                    func.loading();

                    // nameSpace 정보 조회
                    func.loadData('GET', `${func.url}clusters/${sessionStorage.getItem('cluster')}/namespaces?searchName=${document.getElementById('searchText').value}&limit=${nameSpace.limit}&offset=${nameSpace.offset}`, 'application/json', nameSpace.draw);
                },

                draw(data) {

                    if (nameSpace.offset == 0) nameSpace.allItemCount = data.itemMetaData.allItemCount;

                    if (data.httpStatusCode == 200) {
                        if (data.items.length > 0) {
                            for (var i = 0; i <= data.items.length - 1; i++) {
                                var html = `<tr><td class="left"><a href="javascript:;" data-name="${data.items[i].name}">${data.items[i].name}</a></td>`;

                                var label = '';

                                if (data.items[i].labels != '-') {
                                    for (var j = 0; j <= Object.getOwnPropertyNames(data.items[i].labels).length - 1; j++) {
                                        label += `<dl><dt>${Object.getOwnPropertyNames(data.items[i].labels)[j]}</dt><dd>${data.items[i].labels[Object.keys(data.items[i].labels)[j]]}</dd></dl>`;
                                    }
                                    ;
                                } else {
                                    label += `<dl><dt>-</dt></dl>`;
                                }
                                ;

                                html += `<td class="left box">${label}</td>`;

                                html += `<<td class="${data.items[i].namespaceStatus.toLowerCase()}">${data.items[i].namespaceStatus}</td>
									<td>${data.items[i].creationTimestamp}</td>
								</tr>`;

                                func.appendHtml(document.querySelector('.listTable'), html, 'tbody');
                            }
                            ;
                        } else {
                            var html = `<tr><td colspan="4">No Data.</td></tr>`;

                            func.appendHtml(document.querySelector('.listTable'), html, 'tbody');
                        }
                        ;
                    } else {
                        var html = `<tr><td colspan="4">No Data.</td></tr>`;

                        func.appendHtml(document.querySelector('.listTable'), html, 'tbody');
                    }
                    ;

                    // more 버튼 활성, 비활성
                    if (document.querySelector('.listTable').querySelectorAll('tr').length < nameSpace.allItemCount) {
                        document.querySelector('.more').classList.toggle('on', true);
                    } else {
                        document.querySelector('.more').classList.toggle('on', false);
                    }
                    ;

                    if (document.getElementById('loading')) {
                        document.getElementById('wrap').removeChild(document.getElementById('loading'));
                    }
                    ;

                    nameSpace.listEvent();
                },

                event() {
                    // more 버튼 event
                    document.querySelector('.more').addEventListener('click', (e) => {
                        if (document.querySelector('.listTable').querySelectorAll('tr').length < nameSpace.allItemCount) {
                            nameSpace.offset++;

                            nameSpace.load();
                        }
                        ;
                    }, false);

                    document.querySelector('.create').addEventListener('click', (e) => {
                        document.location.href = URI_CP_CLUSTERS_NAMESPACES + URI_CP_CREATE;
                    }, false);
                },

                listEvent() {
                    var listAll = document.querySelector('.listTable').querySelectorAll('a');

                    for (var i = nameSpace.offset * 10; i <= listAll.length - 1; i++) {

                        listAll[i].addEventListener('click', (e) => {
                            sessionStorage.setItem('nameSpace', e.target.getAttribute('data-name'));

                            document.location.href = URI_CP_CLUSTERS_NAMESPACES + URI_CP_DETAILS;
                        }, true);
                    }
                    ;
                },
            }

            nameSpace.init();
        }
    </script>
</th:block>

</html>