<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<div layout:fragment="content">
    <div id="content" class="sub-page">
        <article class="location">
            <ul>
                <li><a onclick="movePage(URI_CP_INDEX_URL)">Clusters</a></li>
                <li><a onclick="movePage(URI_CP_CLUSTERS_SSH_KEYS)">SSH Keys</a></li>
            </ul>
        </article>
        <article class="base detail">
            <div class="notice">
                <h4>Details</h4>
                <div class="table_style01">
                    <table>
                        <caption>Details</caption>
                        <colgroup >
                            <col width="20%" />
                            <col width="80%" />
                        </colgroup>
                        <tbody class="listTable">
                        <tr>
                            <th scope="row" class="left">Name</th>
                            <td class="left">
                                <input class="left" id="name" type="text" readonly>
                                <button type="button" class="right" id="nameButton" onclick="activeEdit('name', this.id)" sec:authorize="hasAuthority('SUPER_ADMIN')">Edit</button>
                            </td>

                        </tr>
                        <tr>
                            <th scope="row" class="left">Provider</th>
                            <td class="left">
                                <input class="left" id="provider" type="text" readonly>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="left">Private Key</th>
                            <td class="left">
                                <textarea class="left" id="keys" rows="30" readonly></textarea>
                                <button type="button" class="right" id="codeButton" onclick="activeEdit('keys', this.id)" sec:authorize="hasAuthority('SUPER_ADMIN')">Edit</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- btn -->
            <div class="btn02">
                <button type="submit" id="delete" th:text="#{M0026}" sec:authorize="hasAuthority('SUPER_ADMIN')"></button>
                <div>
                    <a href="javascript:" id="modify" data-role="sshKeys" th:text="#{M0025}" sec:authorize="hasAuthority('SUPER_ADMIN')"></a>
                    <a onclick="movePage(URI_CP_CLUSTERS_SSH_KEYS)" th:text="#{M0028}"></a>
                </div>
            </div>
        </article>
    </div>
</div>

<th:block layout:fragment="script">
    <script type="text/javascript">
        window.onload = () => {

            IS_GLOBAL = true;
            func.init(ASIDE_DP1.CLUSTERS, ASIDE_DP2.SSH_KEYS);


            const sshKeysDetail = {
                init(){

                    // sshKeys 정보 조회
                    func.loadData('GET', `${func.url}keys/${sessionStorage.getItem('commonName')}`, 'application/json', sshKeysDetail.draw);
                },

                draw(data){

                    // Details data

                    document.getElementById('name').value = data.name;
                    document.getElementById('provider').value = data.provider;
                    document.getElementById('keys').value = data.privateKey;

                    sshKeysDetail.event()
                },

                event(){
                    if(document.getElementById('delete')) {
                        document.getElementById('delete').addEventListener('click', () => {
                            func.alertPopup('DELETE', MSG_CHECK_TO_DELETE, true, MSG_CONFIRM, sshKeysDetail.delete);
                        }, false);}

                    if(document.getElementById('modify')) {
                        document.getElementById('modify').addEventListener('click', () => {
                            func.alertPopup('MODIFY', MSG_CHECK_TO_SAVE, true, MSG_CONFIRM, sshKeysDetail.modify);
                        }, false);}

                },

                delete(){
                    func.saveData('DELETE', `${func.url}keys/${sessionStorage.getItem('commonName')}`, '', true, 'application/json', func.historyBack);
                },

                modify() {
                    let updateKey = {
                        "resourceUid": sessionStorage.getItem('commonName'),
                        "resourceName": document.getElementById('name').value,
                        "providerType": document.getElementById('provider').value,
                        "privateKey": document.getElementById('keys').value
                    };
                    func.saveData('PUT', `${func.url}keys`, JSON.stringify(updateKey), true, 'application/json', sshKeysDetail.returnPage);
                },

                returnPage() {
                    document.location.href = URI_CP_CLUSTERS_SSH_KEYS + URI_CP_DETAILS;
                }
            };

            sshKeysDetail.init();
        }
    </script>
</th:block>
</html>